.header{
  position: relative;
}
.menu{
  margin-right: 170px;
  display: flex;
  justify-content: flex-end;

}
.menu p{
  margin-top: 40px;
  margin-left:20px;

}
.logo{
  position: absolute;
  left: 105px;
  top: 0px;
  display: flex;
}
.img{
  margin-top: 60px;
  margin-right: 80px;
  text-align: center;

}
.visual{
  position: absolute;
  right: 190px;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;

}

.text{
  margin: 20px 0 0  100px;
  display: flex;
  font-size: 25px;

}