li{
  list-style: none;
}

header{
  width: 100%;
}

/*ヘッダーメニュー*/
.header{
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header li{
  margin-right: 40px;
}

/*ヘッダー画像*/
.header-img{
  text-align: center;
  margin-bottom: 20px;
}

.top-img{


}

.logo{
  position: absolute;
  top: 50px;
  left: 50px;
}

.logo-text{
  position: absolute;
  bottom: 150px;
  right: 70px;
}

header span{
  margin-left: 80px;
}

/*記事一覧*/
.articles{
  margin: 50px auto;
}

.articles h1{
  text-align: center;
}

.img-box{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.img-box li{
  margin-right: 20px;
  height: 350px;
}

.img-box li:last-child{
  margin-right: 0;
}

.img-box img{
  height: 200px;
  width: 300px;
}

.img-box h3{
  margin-top: 20px;
}
.img-box p{
  margin-top: 20px;
  height: 70px;
}

.img-box a{
  display: flex;
  justify-content: flex-end;
}

/*フッター部分*/
footer{
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.footer{
  padding: 20px 0;
}

/*レスポンシブ対応*/
@media screen and (max-width:767px){
  
}




